[submodule "Section_2"]
	path = Section_2
	url = git@github.com:TiroLiroLD/AngelaYu_SwiftBootcamp_2.git
[submodule "Section_3"]
	path = Section_3
	url = git@github.com:TiroLiroLD/AngelaYu_SwiftBootcamp_3.git
[submodule "Section_4"]
	path = Section_4
	url = git@github.com:TiroLiroLD/AngelaYu_SwiftBootcamp_4.git
[submodule "Section_5"]
	path = Section_5
	url = git@github.com:TiroLiroLD/AngelaYu_SwiftBootcamp_5.git
[submodule "AngelaYu_SwiftBootcamp_6"]
	path = AngelaYu_SwiftBootcamp_6
	url = git@github.com:TiroLiroLD/AngelaYu_SwiftBootcamp_6.git
